<!DOCTYPE HTML>
<html ng-app="index" ng-controller="iList">
<head>
	<meta charset="utf-8" />
	<title>拇指期刊</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="css/detail.css">
<script>
    !function(x){function w(){var v,u,t,tes,s=x.document,r=s.documentElement,a=r.getBoundingClientRect().width;if(!v&&!u){var n=!!x.navigator.appVersion.match(/AppleWebKit.*Mobile.*/);v=x.devicePixelRatio;tes=x.devicePixelRatio;v=n?v:1,u=1/v}if(a>=640){r.style.fontSize="40px"}else{if(a<=320){r.style.fontSize="20px"}else{r.style.fontSize=a/320*20+"px"}}}x.addEventListener("resize",function(){w()});w()}(window);
</script>
</head>
<body id="magaList">
	<div class="detail" data-id="{{detailId}}">
		<div class="detail_main">
			<a href="{{detailObj.url}}">
				<div class="detail_info">
					<img class="detail_img" v-bind:src="detailObj.image" alt="" />
					<div class="detail_star">
						<span>创意指数：{{detailObj.magaStar[0]}}</span>
						<span>实现难度：{{detailObj.magaStar[1]}}</span>
					</div>
				</div>
			</a>
			<!-- <a href="javascript:;" class="detail_love loved"></a> -->
			<div class="detail_cnt">
				<div class="detail_tag">
					<a href="maga_list.html?key={{detailObj.type[0]}}&cat=classify" v-if="detailObj.type[0]"><span class="detail_tag_txt type" data-category="classify">{{detailObj.type[0]}}</span></a>
					<a href="maga_list.html?key={{detailObj.type[1]}}&cat=classify" v-if="detailObj.type[1]"><span class="detail_tag_txt team" data-category="classify">{{detailObj.type[1]}}</span></a>
					<a href="maga_list.html?key={{detailObj.vd[0]}}&cat=keywords" v-if="detailObj.type[0]"><span class="detail_tag_txt technology" data-category="keywords">{{detailObj.vd[0]}}</span></a>
				</div>
				<h2 class="detail_tit">{{detailObj.title}}</h2>
				<div class="detail_analysis">
					<p v-for="para in detailObj.links" v-html="para.url"></p>
				</div>
			</div>
		</div>
		<div class="detail_bottom hide">
			<!-- <a href="javascript:;" class="detail_bottom_btn"></a> -->
			<div class="detail_bottom_right">
				<!-- <a href="javascript:;" class="detail_bottom_love"></a> -->
				<a href="maga.html?vol={{curVol}}" class="detail_bottom_curvol">vol.{{curVol}}</a>
			</div>
		</div>
	</div>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript">
	var detail = {
		startY: 0,
		endY: 0,
		detail: document.querySelector(".detail"),
		menu : document.querySelector(".detail_bottom"),
		startTouchScroll: function(event){
        	var touch = event.touches[0];
        	this.startY = touch.pageY;
		},
		moveTouchScroll: function(event){
			var touch = event.touches[0];
			this.endY = touch.pageY;
		},
		endTouchScroll:	function(event){
			var self = this; 
			//判断移动的点,1为手指向下滑动,-1为手指向上滑动
		    var scrollDirection = (self.endY - self.startY) > 0 ? 1 : -1 ;
		    // scrollDirection = 1 ? menu.classList.add("hide") : menu.classList.remove("hide"); 
		    detail.menu.classList.remove("hide");
		},
		init: function(){
			var self = this;
			self.detail.addEventListener("touchstart", self.startTouchScroll, false);
			self.detail.addEventListener("touchmove", self.moveTouchScroll, false);
			self.detail.addEventListener("touchend", self.endTouchScroll, false);
		}
	}
	detail.init();
	</script>

	<script src="js/vue.js"></script> 
	<script src="js/volMaga.js"></script> 
	<script src="js/build/list.js"></script>
	<script src="https://jdc.jd.com/jdccase/jsonp/project?category=app&callback=json2"></script>
	<script>
		/*统计*/
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?d5b80c453a4ec5015928c81ab29e8a02";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</body>
</html>