<!DOCTYPE HTML>
<html ng-app="index" ng-controller="iList">
<head>
	<meta charset="utf-8" />
	<title>拇指期刊</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="css/setpage.css">
<script>
    !function(x){function w(){var v,u,t,tes,s=x.document,r=s.documentElement,a=r.getBoundingClientRect().width;if(!v&&!u){var n=!!x.navigator.appVersion.match(/AppleWebKit.*Mobile.*/);v=x.devicePixelRatio;tes=x.devicePixelRatio;v=n?v:1,u=1/v}if(a>=640){r.style.fontSize="40px"}else{if(a<=320){r.style.fontSize="20px"}else{r.style.fontSize=a/320*20+"px"}}}x.addEventListener("resize",function(){w()});w()}(window);
</script>
</head>
<body id="magaList">
	<div class="setpage">
		<div class="case" @scroll="onScroll">
			<ul class="case_list">
				<li class="case_item case_lastest">
					<a href="{{latestUrl}}">
						<div class="case_item_info">
							<img class="case_item_img" v-bind:src="latest.cover" alt="{{latest.prewords}}" />
							<div class="case_lastest_tit">
								<h2 class="tit">{{latest.prewords}}</h2>
								<h3 class="subtit">vol.{{latest.vol}}</h3>
							</div>
							<div class="case_item_mark">最新</div>
						</div>
					</a>
				</li>

				<li v-for="item in list" class="case_item">
					<a href="{{item.url}}">
						<div class="case_item_info">
							<img class="case_item_img" v-bind:src="item.image" alt="" />
							<div class="case_item_star">
								<span>创意指数：{{item.magaStar[0]}}</span>
								<span>实现难度：{{item.magaStar[1]}}</span>
							</div>
						</div>
						<div class="case_item_mark" v-show="item.links">精选</div>
					</a>
					<div class="case_item_tag">
						<a href="javascript:;" v-if="item.type[0]" v-on:click="search"><span class="case_item_tag_txt type" data-category="classify">{{item.type[0]}}</span></a>
						<a href="javascript:;" v-if="item.type[1]" v-on:click="search"><span class="case_item_tag_txt team" data-category="classify">{{item.type[1]}}</span></a>
						<a href="javascript:;" v-if="item.vd[0]" v-on:click="search"><span class="case_item_tag_txt technology" data-category="keywords">{{item.vd[0]}}</span></a>
						<a href="javascript:;" v-if="item.fe[2]"><span class="case_item_tag_txt technology">{{item.fe[2]}}</span></a>
					</div>
					<!-- <a href="javascript:void(0);" class="case_item_love loved"></a> -->
					<div class="case_item_cnt">
						<h2 class="case_item_tit">{{item.title}}</h2>
						<p class="case_item_analysis" v-show="item.links">
							{{item.magaLinkShort}}
						</p>
						<a href="{{item.magaDetail}}" class="case_item_more" data-lid="{{item._id}}" v-show="item.links">查看完整分析</a>
					</div>
				</li>
			</ul>
			<div class="case_load" data-page="{{curPage}}">
				<div class="case_load_logo">
					<span class="eye eye_l"></span>
					<span class="eye eye_r"></span>
					<span class="line line_t"></span>
					<span class="line line_b"></span>
				</div>
			</div>
		</div>
		<div class="menu">
			<div class="menu_main">
				<div class="menu_logo"></div>
				<div class="menu_search">
					<input class="menu_search_input" type="text" placeholder="search" v-model="keyword" vo-on:keyup.enter="search" />
					<a href="javascript:;" class="menu_search_btn" v-on:click="search"></a>
				</div>
				<ul class="menu_list">
					<li class="menu_item">全部案例</li>
					<li class="menu_item">分类名称分类名称</li>
					<li class="menu_item">分类名称分类</li>
					<li class="menu_item">分类名称分类名称</li>
					<li class="menu_item">分类名称分类</li>
					<li class="menu_item">分类名称分类名称分类名称分类名称</li>
					<li class="menu_item">分类名称分类</li>
					<li class="menu_item">分类名称分类名称</li>
					<li class="menu_item">分类名称分类</li>
					<li class="menu_item">分类名称分类名称</li>
					<li class="menu_item">分类名称分类</li>
					<li class="menu_item">分类名称分类名称</li>
					<li class="menu_item">分类名称分类</li>
					<li class="menu_item">分类名称分类名称</li><li class="menu_item cur">关于我们</li>
				</ul>
			</div>
			<div class="menu_mask" style="display:none"></div>
		</div>
		<a href="javascript:;" class="btn">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript">

	var overscroll = function(el) {
	  el.addEventListener('touchstart', function() {
	    var top = el.scrollTop
	      , totalScroll = el.scrollHeight
	      , currentScroll = top + el.offsetHeight;
	    //If we're at the top or the bottom of the containers
	    //scroll, push up or down one pixel.
	    //
	    //this prevents the scroll from "passing through" to
	    //the body.
	    if(top === 0) {
	      el.scrollTop = 1;
	    } else if(currentScroll === totalScroll) {
	      el.scrollTop = top - 1;
	    }
	  });
	  el.addEventListener('touchmove', function(evt) {
	    //if the content is actually scrollable, i.e. the content is long enough
	    //that scrolling can occur
	    if(el.offsetHeight < el.scrollHeight)
	      evt._isScroller = true;
	  });
	}
	overscroll(document.querySelector('.case'));
	overscroll(document.querySelector('.menu_main'));
	document.body.addEventListener('touchmove', function(evt) {
	  //In this case, the default behavior is scrolling the body, which
	  //would result in an overflow.  Since we don't want that, we preventDefault.
	  if(!evt._isScroller) {
	    evt.preventDefault();
	  }
	});

	// !function(){
	// 	var menuBtn = $(".btn"),
	// 		setPage = $(".setpage"),
	// 		caseArea = $(".case"),
	// 		menuMask = $(".menu_mask");
	// 	var menuShow = function(){
	// 		setPage.addClass("menu_show");
	// 		menuMask.show();
	// 	}
	// 	var menuHide = function(){
	// 		setPage.removeClass("menu_show");
	// 		menuMask.hide();
	// 	}
	// 	menuBtn.on("tap",function(){
	// 		setPage.hasClass("menu_show")?menuHide():menuShow();
	//  	})
	//  	menuMask.on("tap",menuHide);
	// }();


	var set={
		menuBtn: document.querySelector(".btn"),
		setPage: document.querySelector(".setpage"),
		caseArea: document.querySelector(".case"),
		menuMask: document.querySelector(".menu_mask"),
		addClass: function(ele,cls) { 
			if (!this.hasClass(ele,cls)) ele.className += " " +cls; 
		},
		removeClass: function(ele,cls) { 
			if (this.hasClass(ele,cls)) { 
				var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)'); 
				ele.className=ele.className.replace(reg,''); 
			} 
		},
		hasClass: function(ele,cls) { 
			return ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)')); 
		},
		hideMenu: function(){
 			this.removeClass(this.setPage,"menu_show");
 			this.menuMask.style.display = "none";
		},
		showMenu: function(){
			this.addClass(this.setPage,"menu_show");
 			this.menuMask.style.display = "block";
		},
		init: function(){
			var self = this;
			self.menuBtn.addEventListener("click",function(){
				self.hasClass(self.setPage,"menu_show")?self.hideMenu():self.showMenu();
 			});
			self.menuMask.addEventListener("click",function(){self.hideMenu()});
		}
	};
	set.init();


	</script>

	<script src="js/vue.js"></script> 
	<script src="js/build/list.js"></script>
	<script src="https://jdc.jd.com/jdccase/jsonp/project?category=app&callback=json2"></script>
</body>
</html>