<!DOCTYPE HTML>
<html ng-app="cases" ng-controller="casesList">
<head>
	<meta charset="utf-8" />
	<title>H5 精品案例赏析 - 第{{vol}}期</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="css/mail.css">
</head>
<body>
	<article class="wrap">
		<header class="header">
			<h1>H5精品案例赏析<i></i></h1>
			<h2>{{date}} 第{{vol}}期</h2>
		</header>

		<section class="prewords"><p ng-repeat="para in prewords" ng-bind-html="para"></p></section>

		<section class="mail_sec" ng-repeat="case in caselist">
			<h3 class="title"><a href="{{case.url}}">{{case.title}}</a></h3>
			<a class="img_link" href="{{case.url}}"><span class="type_tag type_tag_{{case.type[1].id}}">{{case.type[1].name}}</span><img class="img" src="img/demo.png" lazy-src="{{case.image}}" /></a>
			<div class="aside_wrap">
				<ul class="attr_list">
					<li class="tags"><strong>标签：</strong><span ng-repeat="tags in case.vd">{{tags}}</span></li>	
					<li><strong>需求背景：</strong>{{case.type[2].name}}</li>	
				</ul>
				<ul class="rate_list">
					<li><strong>创意指数：</strong><span class="rate_star"><i>{{case.fe[0]}}</i></span></li>	
					<li><strong>实现难度：</strong><span class="rate_star"><i>{{case.fe[1]}}</i></span></li>
				</ul>
			</div>

			<div class="cont">
				<h4 class="subtitle">创意分析</h4>
				<p ng-repeat="para in case.desc" ng-bind-html="para"></p>
			</div>
			<div class="cont">
				<h4 class="subtitle">技术分析</h4>
				<p ng-repeat="para in case.links" ng-bind-html="para.url"></p>
			</div>
		</section>

		<section class="prewords">
			<p>小分队成员：</p>
			<ul>
				<li>阿姨<b>EC</b>（RTX：p_jdyixli，邮箱：<a href='mailto:liyixin@jd.com'>liyixin@jd.com</a>，ERP：liyixin5）</li>
				<li>萌妹子<b>燕婷</b>（RTX：p_jdytzhang，邮箱：<a href='mailto:zhangyanting@jd.com'>zhangyanting@jd.com</a>，ERP：zhangyanting）</li>
				<li>软妹子<b>婷婷</b>（RTX：p_jdttingli，邮箱：<a href='mailto:litingting6@jd.com'>litingting6@jd.com</a>，ERP：litingting14）</li>
			</ul>
			<p>接受任何形式的投案（投递案例）与提议，有需求尽管说，一定保证服侍好各位。</p>
		</section>

		<footer class="footer">
			<div class="wanted">
				<div class="wanted_qrcode"><img src="img/wanted_qrcode.png" alt="O2team"></div>
				<div class="wanted_words">
					<p>HI! 我们是<br />JDC的H5品鉴小分队</p>
					<p class="aside">爷～赏点钱呗～</p>
				</div>
			</div>

			<a href="#" class="back" style="display:none;">查看往期</a>
		</footer>
	</article>
	<div class="loading">
		<div><i></i><i></i><i></i></div>
	</div>
	<script src="js/angular-1.4.7.min.js"></script>
	<script src="js/angular-route-1.4.7.min.js"></script>
	<script src="js/me-lazyload.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/vol.js"></script>

	<script type="text/javascript" src="http://static.paipaiimg.com/paipai_h5/js/ttj/shareapi.js"></script>
	<script>
	    //分享设置
	    shareApi({
	        "url":"",
	        "qq_title":"H5精品案例赏析vol.{{vol}} - JDC的H5品鉴小分队",
	        "qzone_title":"H5精品案例赏析vol.{{vol}} - JDC的H5品鉴小分队",
	        "wechat_title":"H5精品案例赏析vol.{{vol}} - JDC的H5品鉴小分队",
	        "wechat_time_title":"H5精品案例赏析vol.{{vol}} - JDC的H5品鉴小分队",
	        "wechat_desc":"",
	        "qq_desc":"",
	        "qzone_desc":"",
	        "img":"img/share.png",
	        "ptag":{ 
	        w2w:"20400.5.3", //微信分享至微信好友
	        w2t:"20400.5.4", //微信分享至朋友圈
	        //w2b:"",       //微信分享至腾讯微博,如果没有，可不传
	        //w2e:"",       //微信发送邮件，如果没有，可不传
	        q2q:"20400.5.1", //手Q分享至QQ好友或群
	        q2z:"20400.5.2", //手Q分享至QQ空间
	        q2w:"20400.5.3", //手Q分享至微信好友
	        q2t:"20400.5.4"  //手Q分享至朋友圈
	        }
	    });
	</script>
</body>
</html>