<!DOCTYPE HTML>
<html ng-app="cases" ng-controller="casesList">
<head>
	<meta charset="utf-8" />
	<title>H5 精品案例赏析</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="css/mail.css">
</head>
<body>
	<article class="wrap" ng-show="vol > 0">
		<header class="header">
			<h1>H5精品案例赏析<i></i></h1>
			<h2>{{date}} 第{{vol}}期</h2>
		</header>

		<div class="prewrap">
			<div class="page_qrcode">
				<div id="pageQrcode"></div>
				<p>扫一扫手机阅读</p>
			</div>
			<section class="prewords"><p ng-repeat="para in prewords" ng-bind-html="para"></p></section>
		</div>

		<section class="mail_sec" ng-repeat="case in caselist" id="{{case._id}}">
			<h3 class="title"><a href="{{case.url}}" ng-bind-html="case.title"></a></h3>
			<a class="img_link" href="{{case.url}}"><span class="type_tag type_tag_{{case.type[1].id}}">{{case.type[1].name}}</span><img class="img" src="img/demo.png" lazy-src="{{case.image}}" /><span id="caseqc_{{case._id}}" class="qrcode"></span></a>
			<div class="aside_wrap">
				<ul class="attr_list">
					<li class="tags"><strong>标签：</strong><span ng-repeat="tags in case.vd">{{tags}}</span></li>	
					<li><strong>需求背景：</strong>{{case.type[2].name}}</li>	
				</ul>
				<ul class="rate_list">
					<li><strong>创意指数：</strong><span class="rate_star"><i>{{case.fe[0]}}</i></span></li>	
					<li><strong>实现难度：</strong><span class="rate_star"><i>{{case.fe[1]}}</i></span></li>
				</ul>
			</div>

			<div class="cont">
				<h4 class="subtitle">创意分析</h4>
				<p ng-repeat="para in case.desc" ng-bind-html="para"></p>
			</div>
			<div class="cont">
				<h4 class="subtitle">技术分析</h4>
				<p ng-repeat="para in case.links" ng-bind-html="para.url"></p>
			</div>
		</section>

		<!-- <footer class="footer">
			<div class="wanted">
				<div class="wanted_words">
					<p><strong>HI! </strong>我们是JDC的H5品鉴小分队</p>
					<p class="aside">爷～赏点钱呗～</p>
				</div>
				<div class="wanted_qrcode">
					<img src="img/wanted_qrcode_200_temp.png" alt="O2team">
				</div>
			</div>		
		</footer> -->

		<footer class="footer">
			<div class="wanted">
				<div class="wanted_words">
					<p><strong>HI! </strong>我们是JDC的H5品鉴小分队</p>
					<p class="aside">爷～谈钱俗～来我们组织添添人气呗～</p>
				</div>
				<div class="wanted_qrcode">
					<img src="img/o2team_qrcode_temp.png" alt="O2team">
				</div>
			</div>		
		</footer>

		<div class="switch_vol">
			<a ng-show="prevol>0" href="?vol={{prevol}}">上一期</a>
			<a ng-show="nextvol>0" href="?vol={{nextvol}}">下一期</a>
		</div>
		<a href="http://jdc.jd.com/h5/case/index.html" class="back">往期回顾</a>
	</article>
	<div class="loading">
		<div><i></i><i></i><i></i></div>
	</div>
	<script src="js/angular-1.4.7.min.js"></script>
	<script src="js/angular-route-1.4.7.min.js"></script>
	<script src="js/me-lazyload.js"></script>
	<script src="js/share.js"></script>
	<script src="js/qrcode.min.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/vol.js"></script>
	<script>
		var vol = GetQueryString('vol')?GetQueryString('vol'):0;
		
		/*分享*/
			wxShare('http://jdc.jd.com/h5/case/img/share.png',100,100,location.href,'H5 精品案例赏析-第'+vol+'期','JDC贫贱小分队为您奉上热腾腾的精品案例赏析');
		var pageQrcode = new QRCode(document.getElementById('pageQrcode'), location.href);


		/*统计*/
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?d5b80c453a4ec5015928c81ab29e8a02";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</body>
</html>