/*mail.css*/
* { -webkit-tap-highlight-color: transparent; outline: 0; margin:0; padding:0; vertical-align:baseline;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; font-weight:normal;}
img { border: 0 none; vertical-align: top;}
i, em { font-style: normal;}
ol, ul { list-style: none;}
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit;}
table { border-collapse: collapse; border-spacing: 0;}
a { text-decoration: none; color: #666;}
body{max-width:700px;min-width:320px;height:100%;margin:0 auto;font-size:14px;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial; line-height: 1.5; color: #666;background:#F5F5F5;}

.wrap{margin:50px;background:#FFFFFF;}

.header{width:100%;height:92px;background:#E12228;text-align:center;padding-top:8px;margin-bottom:20px;}
	.header h1{line-height:56px;font-size:30px;font-weight:bold;color:#FFFFFF;}
	.header h2{line-height:24px;display:inline-block;font-size:14px;padding:0 24px;background:#CA1F24;color:#EAA5A7;border-radius:3px;}

	.prewords{line-height:22px;margin:0 20px 20px;background:#FAFBFB;border-left:4px solid #DDDDDD;color:#999999;font-size:12px;padding:9px 12px;}
		.prewords p{margin-bottom:10px;text-indent:2em;}
			.prewords p:first-child{text-indent:0;}

.mail_sec{margin:0 20px;padding-bottom:30px;margin-bottom:26px;border-bottom:1px solid #DDDDDD;}
	.title{font-size:18px;color:#333333;margin-bottom:10px;position:relative;}
		.title:after{width:0;height:0;border-top:7px dashed transparent;border-bottom:7px dashed transparent;border-left:10px solid #E12228;position:absolute;top:50%;left:-20px;margin-top:-8px;content:"";}
	.img_link{display:block;position:relative;}
		.type_tag{width:60px;height:40px;line-height:40px;position:absolute;top:0;left:0;text-align:center;color:#FFFFFF;font-size:12px;}
			.type_tag_1{background:#E12228;}
			.type_tag_2{background:#0088CC;}
			.type_tag_3{background:#FFA900;}
			.type_tag_4{background:#4CBB1B;}
		.img{width:100%;margin-bottom:10px;}
	.aside_wrap{position:relative;font-size:12px;margin-bottom:10px;}
		.aside_wrap li{line-height:20px;color:#999999;}
			.aside_wrap li strong{color:#333333;}
			.tags span{display:inline-block;padding:0 6px;background:#EEEEEE;margin-right:5px;border-radius:2px;}
		.rate_list{position:absolute;top:0;right:0;}
			.rate_star{position:relative;}
				.rate_star:after{width:100%;height:20px;line-height:16px;position:absolute;top:-1px;left:0;content:"★★★★★";color:#CCCCCC;}
				.rate_star i{width:52px;display:inline-block;color:#FFA900;z-index:1;position:relative;}

	.subtitle{line-height:30px;color:#333333;font-weight:bold;padding-left:10px;position:relative;}
		.subtitle:after{width:2px;height:14px;background:#E12228;position:absolute;top:50%;margin-top:-7px;left:0;content:"";}
	.cont{}
		.cont p{font-size:12px;line-height:22px;margin-bottom:8px;}
		.cont p a{color:#0088CC;text-decoration:underline;margin:0 3px;}

.loading{width:100%;height:100%;position:fixed;top:0;left:0;background:#F5F5F5;z-index:100;opacity:1;-webkit-transition:all ease .2s .2s;}
	.loaded{opacity:0;}
	.loading div{position:absolute;top:50%;left:50%;-webkit-animation:rotate ease 1s infinite;}
		.loading div i{width:0;height:12px;position:absolute;border:2px dashed transparent;border-left:2px solid #E12228;}
			.loading div i:nth-child(1){top:-10px;left:-2px;-webkit-transform:translate(0px, 0px) rotate(30deg);-webkit-animation:certrifuge1 ease 1s infinite;}
			.loading div i:nth-child(2){border-left-color:#0088CC;top:-10px;right:-7px;-webkit-transform:translate(0px, 0px) rotate(150deg);-webkit-animation:certrifuge2 ease 1s infinite;}
			.loading div i:nth-child(3){border-left-color:#FFA900;bottom:-11px;-webkit-transform:translate(0px, 0px) rotate(-90deg);-webkit-animation:certrifuge3 ease 1s infinite;}

		@-webkit-keyframes rotate{
			0%{-webkit-transform:rotate(0deg);}
			100%{-webkit-transform:rotate(360deg);}
		}
		@-webkit-keyframes certrifuge1{
			0%, 100{-webkit-transform:translate(0px, 0px) rotate(30deg);}
			50%{-webkit-transform:translate(10px, -6px) rotate(30deg);}
		}
		@-webkit-keyframes certrifuge2{
			0%, 100{-webkit-transform:translate(0px, 0px) rotate(150deg);}
			50%{-webkit-transform:translate(10px, 6px) rotate(150deg);}
		}
		@-webkit-keyframes certrifuge3{
			0%, 100{-webkit-transform:translate(0px, 0px) rotate(-90deg);}
			50%{-webkit-transform:translate(-10px, 6px) rotate(-90deg);}
		}

.footer{position:relative;background:#E9242F;}
	.wanted{height:120px;position:relative;}
	.wanted_qrcode{position:absolute;top:10px;left:10px;padding:6px;background:#FFFFFF;}
		.wanted_qrcode img{width:90px;height:90px;display:block;}
	.wanted_words{font-size:16px;color:#FFFFFF;line-height:26px;padding-left:130px;padding-top:18px;}
		.wanted_words p{font-weight:bold;}
		.wanted_words .aside{font-size:12px;font-weight:normal;line-height:18px;padding:0 7px;display:inline-block;background:#BA1D26;}
	.back{width:107px;height:120px;line-height:120px;position:absolute;top:0;right:0;background:#D1202A;color:#FFFFFF;text-align:center;font-size:14px;}

@media (max-width:700px){
	.wrap{margin:0;}
}
@media (max-width:400px){
	.header{margin-bottom:15px;}
	.prewords{margin:0 15px 20px;font-size:14px;}
	.mail_sec{margin:0 15px;margin-bottom:15px;}
		.title:after{left:-15px;}
		.rate_list{position:static;}
	.mail_sec .cont p{font-size:14px;}
}
@media (max-width:375px){
	.back{width:100%;height:40px;line-height:40px;position:static;display:block;}
}