/*mail.css*/

/*gb*/
* { -webkit-tap-highlight-color: transparent; outline: 0; margin:0; padding:0; vertical-align:baseline;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; font-weight:normal;}
img { border: 0 none; vertical-align: top;}
i, em { font-style: normal;}
ol, ul { list-style: none;}
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit;}
table { border-collapse: collapse; border-spacing: 0;}
a { text-decoration: none; color: #666;}
body{max-width:700px;min-width:320px;height:100%;margin:0 auto;font-size:14px;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial; line-height: 1.5; color: #666;background:#eeeeee;}

.wrap{margin:50px;background:#FFFFFF;position:relative;}

.header{width:100%;height:92px;background:#6190e8;padding-top:32px;margin-bottom:20px;position:relative;}
	.header h1{line-height:55px;font-size:30px;font-weight:bold;color:#6190e8;position:relative;padding-left:20px;}
		.header h1 i{width:188px;height:62px;position:absolute;top:0;left:38px;background:url(../img/title_160229.png) no-repeat top center;background-size:100% auto;}
	.header h2{line-height:24px;font-size:12px;color:#FFFFFF;border-radius:3px;opacity:0.5;position:absolute;top:44px;left:128px;}

	.prewrap{min-height:178px;position:relative;padding-left:154px;}
		.page_qrcode{width:145px;position:absolute;top:0;left:20px;}
			.page_qrcode img{width:145px;height:145px;display:block;}
			.page_qrcode p{text-align:center;font-size:14px;color:#666666;line-height:34px;}
		.prewords{line-height:20px;margin:0 20px 20px;background:#FAFBFB;color:#999999;font-size:14px;padding:9px 12px;}
			.prewords p, .prewords ul{margin-bottom:5px;}
				.prewords p:first-child{text-indent:0;}
				.prewords strong{font-size:14px;color:#666666;}

/*index*/
.index_sec{margin:15px 20px;background:#FAFAFA;padding:10px;}
	.i_title{line-height:30px;position:relative;padding-left:10px;}
		.i_title:after{width:2px;height:14px;position:absolute;top:50%;left:0;content:"";margin-top:-7px;background:#E12228;}
		.i_title a{font-size:14px;display:block;color:#333333;}
		.i_title a span{font-size:14px;color:#999999;margin-left:5px;}
	.i_list{line-height:20px;font-size:14px;color:#666666;}
		.i_list a{display:block;color:#666666;}

/*mail*/
.mail_sec{margin:0 20px;padding-bottom:30px;margin-bottom:26px;border-bottom:1px solid #DDDDDD;}
	.title{font-size:18px;color:#333333;margin-bottom:10px;position:relative;}
		.title:after{width:0;height:0;border-top:7px dashed transparent;border-bottom:7px dashed transparent;border-left:10px solid #6190e8;position:absolute;top:50%;left:-20px;margin-top:-8px;content:"";}
	.img_link{padding-top:47.462%;display:block;position:relative;background:#dddddd url('../img/demo.png') no-repeat top center;background-size:100% auto;margin-bottom:10px;overflow:hidden;}
		.type_tag{width:60px;height:40px;line-height:40px;position:absolute;top:0;left:0;text-align:center;color:#FFFFFF;font-size:12px;z-index:1;}
			.type_tag_0{background:#000000;}
			.type_tag_1{background:#E12228;}
			.type_tag_2{background:#0088CC;}
			.type_tag_3{background:#FFA900;}
			.type_tag_4{background:#4CBB1B;}
		.img_link .img{width:100%;position:absolute;top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
		.qrcode{width:22%;background:#FFFFFF;position:absolute;top:50%;right:4.46%;padding:2%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
			.qrcode img{width:100%;display:block;}
	.aside_wrap{position:relative;font-size:12px;margin-bottom:10px;}
		.aside_wrap li{line-height:20px;color:#999999;}
			.aside_wrap li strong{color:#333333;}
			.tags span{display:inline-block;padding:0 6px;background:#EEEEEE;margin-right:5px;border-radius:2px;}
		.rate_list{position:absolute;top:0;right:0;}
			.rate_star{position:relative;}
				.rate_star:after{width:100%;height:20px;line-height:16px;position:absolute;top:-1px;left:0;content:"★★★★★";color:#CCCCCC;}
				.rate_star i{width:52px;display:inline-block;color:#FFA900;z-index:1;position:relative;}

	.subtitle{line-height:30px;color:#333333;font-weight:bold;padding-left:10px;position:relative;}
		.subtitle:after{width:2px;height:14px;background:#6190e8;position:absolute;top:50%;margin-top:-7px;left:0;content:"";}
	.cont{}
		.cont p{font-size:14px;line-height:24px;margin-bottom:8px;text-indent:2em;}
		.cont p a{color:#0088CC;text-decoration:underline;margin:0 3px;}
		.cont .img{width:100%;}
			.cont .img img{width:100%;display:block;}

.loading{width:100%;height:100%;position:fixed;top:0;left:0;background:#F5F5F5;z-index:100;opacity:1;-webkit-transition:all ease .2s .2s;}
	.loaded{opacity:0;}
	.loading div{position:absolute;top:50%;left:50%;-webkit-animation:rotate ease 1s infinite;}
		.loading div i{width:0;height:12px;position:absolute;border:2px dashed transparent;border-left:2px solid #E12228;}
			.loading div i:nth-child(1){top:-10px;left:-2px;-webkit-transform:translate(0px, 0px) rotate(30deg);-webkit-animation:certrifuge1 ease 1s infinite;}
			.loading div i:nth-child(2){border-left-color:#0088CC;top:-10px;right:-7px;-webkit-transform:translate(0px, 0px) rotate(150deg);-webkit-animation:certrifuge2 ease 1s infinite;}
			.loading div i:nth-child(3){border-left-color:#FFA900;bottom:-11px;-webkit-transform:translate(0px, 0px) rotate(-90deg);-webkit-animation:certrifuge3 ease 1s infinite;}

		@-webkit-keyframes rotate{
			0%{-webkit-transform:rotate(0deg);}
			100%{-webkit-transform:rotate(360deg);}
		}
		@-webkit-keyframes certrifuge1{
			0%, 100{-webkit-transform:translate(0px, 0px) rotate(30deg);}
			50%{-webkit-transform:translate(10px, -6px) rotate(30deg);}
		}
		@-webkit-keyframes certrifuge2{
			0%, 100{-webkit-transform:translate(0px, 0px) rotate(150deg);}
			50%{-webkit-transform:translate(10px, 6px) rotate(150deg);}
		}
		@-webkit-keyframes certrifuge3{
			0%, 100{-webkit-transform:translate(0px, 0px) rotate(-90deg);}
			50%{-webkit-transform:translate(-10px, 6px) rotate(-90deg);}
		}

.footer{display:block;position:relative;background:#6190e8;}
	.wanted{height:120px;position:relative;background:#6190e8;}
	.wanted_qrcode{position:absolute;top:10px;left:10px;}
		.wanted_qrcode:after{display:none;width:34px;height:34px;position:absolute;top:50%;left:50%;margin-top:-17px;margin-left:-17px;content:"";background-color:rgba(255,255,255,0.9);background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAV1BMVEUAAADrkgXrkgTskwfrkgTskwXrkwXqkgXskgjrkgTskgXrkgPskgXskwfrkgXqkgPqkgPrkwXskwfskwfskgjrkgXqkgPqkgXskgXskgjskwfslAbrkgX+fN7oAAAAHHRSTlMAQMDAgJBw0IAwIGBQ8PCgELCAYDAQ8ODQoDAQuDR1kwAAAO5JREFUOMutkkmWwyAMRJEYDB4z9pj7n7PBalvlhMSb/IVfIT7igTEbyJ1iJMlIvGVKcCXEHA4luFU4l2ESQep9CUFmF9+j4EtoZdvbS+hdApkKBEKgCkGEZJn5o9Z94EySbrYm8DylQkPAVy5YFHSBFlDguw79mAvfG6FCtyNMuOWFHkhmH9ygDu8JFg49MFvOWPkyD9hhzb+UadeiRUH/cMTLVVkFh6tQXh7zEQXNcJ6fZ1scjnK6sddVQPKj3lB3NciVwvQpU41fHPd/3rOFi2zyL24nGHNnnI78RRq2Qd+omwW2PpDZQMHPrU9/CjUyRmThKfMAAAAASUVORK5CYII=');background-repeat:no-repeat;background-position:center center;background-size:16px 16px;border:1px solid rgba(234,146,31,0.75);box-shadow:0 0 2px rgba(0,0,0,0.75);border-radius:100%;}
		.wanted_qrcode img{width:90px;height:90px;display:block;padding:5px;background:#FFFFFF;}
	.wanted_words{font-size:18px;color:#ffffff;line-height:26px;padding-left:130px;padding-top:20px;}
		.wanted_words p{font-weight:bold;}
		.wanted_words p strong{display:block;}
		.wanted_words .aside{display:inline-block;font-size:12px;font-weight:normal;line-height:24px;color:#ffffff;text-align:center;background:#4573CA;line-height:18px;padding:0 5px;}

	.switch_vol{display:none;}
	.back{width:110px;height:120px;line-height:120px;display:block;text-align:center;color:#ffffff;font-size:14px;background:#eeeeee;position:absolute;bottom:0;right:0;background:#4573CA;}

@media (max-width:650px){
	.wrap{margin:0;}
	.header{margin-bottom:15px;}
	.prewords{margin:0 15px 20px;}
		.prewords p{margin-bottom:5px;}
	.mail_sec{margin:0 15px;margin-bottom:15px;}
		.title:after{left:-15px;}
		.rate_list{position:static;}
	.mail_sec .cont p{font-size:14px;}
}

@media (-webkit-min-device-pixel-ratio:2) and (max-width:640px){
	.wrap{padding-bottom:1px;}
	.header{height:40px;padding-top:0;}
		.header h1{height:40px;line-height:40px;text-align:left;text-indent:10px;font-size:14px;}
			.header h1 i{width:140px;height:20px;left:5px;top:10px;margin:0;}
		.header h2{position:absolute;right:5px;top:8px;}
	.wrap{margin:0;}
	.header{margin-bottom:15px;}
	.prewrap{min-height:0px;padding-left:0;}
	.prewords{margin:0 15px 20px;}
		.prewords p{margin-bottom:5px;}
	.mail_sec{margin:0 15px;margin-bottom:15px;}
		.title:after{left:-15px;}
		.rate_list{position:static;}
		.aside_wrap{margin-bottom:22px;}
		.subtitle{margin-bottom:22px;}
	.mail_sec .cont p{font-size:14px;line-height:26px;margin-bottom:14px;}
	.page_qrcode{display:none;}

	.footer{background:#f6f6f6;}
	.wanted{height:auto;padding-bottom:10px;background:#f6f6f6;}
		.wanted_words{padding-left:0;text-align:center;color:#e91b2f;}
			.wanted_words p strong{display:inline;}
			.wanted_words p span{display:block;}
		.wanted_words .aside{display:block;font-size:14px;color:#999999;font-weight:normal;margin-bottom:10px;line-height:24px;text-align:center;background:none;}
		.wanted_qrcode{position:relative;left:0;top:0;}
			.wanted_qrcode img{width:110px;height:110px;margin:0 auto;}

	.switch_vol{display:-webkit-flex;display:flex;padding:0 5px;margin-bottom:10px;}
		.switch_vol a{height:40px;line-height:40px;-webkit-flex:1;fex:1;display:block;text-align:center;background:#eeeeee;margin:10px 5px 0;color:#aaaaaa;font-size:12px;}
	.back{width:auto;height:40px;line-height:40px;background:#eeeeee;margin:10px;padding:0;text-align:center;color:#aaaaaa;font-size:12px;position:static;}
}