/*gb*/
* { -webkit-tap-highlight-color: transparent; outline: 0; margin:0; padding:0; vertical-align:baseline;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; font-weight:normal;}
img { border: 0 none; vertical-align: top;}
i, em { font-style: normal;}
ol, ul { list-style: none;}
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit;}
table { border-collapse: collapse; border-spacing: 0;}
a { text-decoration: none; color: #666;}
body{max-width:700px;min-width:320px;height:100%;margin:0 auto;font-size:14px;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial; line-height: 1.5; color: #666;background:#f6f6f6;}

.case{
	width: 16rem;
}
.case_item{
	margin: 10px;
	border-radius: 3px;
	overflow: hidden;
	background: #fff;
	border:1px solid #e4e4e4;
	box-shadow: 0 0 5px #e4e4e4;
}
.case_item_info{
	position: relative;
	height: 8.53333rem;
	overflow: hidden;
}
.case_lastest .case_item_info{
	height: 4.26667rem;
}
.case_lastest_tit{
	position: absolute;
	width: 100%;
	height: 50px;
	color: #fff;
	z-index: 1;
	bottom: 10px;
}
.case_lastest_tit h2{
	position: absolute;
	top: 0;
	left: 10px;
	line-height: 30px;
	font-size: 16px;
}
.case_lastest_tit h3{
	position: absolute;
	bottom: 0;
	left: 10px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	z-index: 1;
}
.case_lastest_tit h2:after{
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	background: #e4a558;
	left: 0;
	bottom: 0;
}
.case_lastest .case_item_mark{
	background: red;
}
.case_item_img{
	position: absolute;
	top: 50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	width: 100%;
}
.case_item_info:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 4.26667rem;
	left: 0;
	bottom: 0;
	background: -webkit-gradient(linear,0% top,0% bottom, from(transparent), to(rgba(0,0,0,0.7)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.7));
}
.case_item_tag{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px;
}
.case_item_tag a{
	display: inline-block;
	padding: 0 6px;
	height: 18px;
	line-height: 18px;
	border-radius: 18px;
	color: rgba(255,255,255,0.8);
	background: rgba(0,0,0,0.5);
}
.case_item_star{
	position: absolute;
	bottom: 6px;
	left: 0;
	font-size: 12px;
	height: 20px;
	color: rgba(255,255,255,1);
	width: 100%;
  	display: -webkit-box;
  	display: -webkit-flex;
  	display: flex;
  	z-index: 1;
}
.case_item_star span{
	padding: 0 10px;
  	-webkit-box-flex: 1;
  	-webkit-flex: 1;          
  	flex: 1;  
}
.case_item_mark{
	position: absolute;
	right: -30px;
	bottom: 0;
	font-size: 10px;
	width: 60px;
	height: 22px;
	background: #e4a558;
	color: #fff;
	text-align: center;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	-webkit-transform-origin:50% 100%;
	transform-origin:50% 100%;
	z-index: 1;
}
.case_item_cnt{
	padding: 10px;
	text-align: center;
}
.case_item_tit{
	position: relative;
	color: #171717;
	font-size: 14px;
	height: 30px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.case_item_tit:after{
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	background: #e4a558;
	left: 50%;
	bottom: 4px;
	margin-left: -10px;
}
.case_item_analysis{
	position: relative;
	color: #7d7d7d;
	font-size: 12px;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.case_item_analysis:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 36px;
	left: 0;
	bottom: 0;
	background: -webkit-gradient(linear,0% top,0% bottom, from(transparent), to(rgba(255,255,255,0.7)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.7));
}
.case_item_more{
	display: block;
	margin: 10px auto 0;
	font-size: 12px;
	border-radius: 30px;
	width: 100px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	background: #6190e8;
}