<!DOCTYPE HTML>
<html ng-app="index" ng-controller="iList">
<head>
	<meta charset="utf-8" />
	<title>拇指期刊</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="css/detail.css">
<script>
    !function(x){function w(){var v,u,t,tes,s=x.document,r=s.documentElement,a=r.getBoundingClientRect().width;if(!v&&!u){var n=!!x.navigator.appVersion.match(/AppleWebKit.*Mobile.*/);v=x.devicePixelRatio;tes=x.devicePixelRatio;v=n?v:1,u=1/v}if(a>=640){r.style.fontSize="40px"}else{if(a<=320){r.style.fontSize="20px"}else{r.style.fontSize=a/320*20+"px"}}}x.addEventListener("resize",function(){w()});w()}(window);
</script>
</head>
<body id="magaList">
	<!-- S：load动画svg -->
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
		<symbol viewBox="0 0 320 320" id="main">
		    <title>main</title>
		    <path stroke="#ffffff" transform="translate(-26, -47)" stroke-width="1"  fill-rule="evenodd" d="M318.065511,367 C317.771291,284.936704 296.833013,218.530485 274.62589,180.097449 C231.984105,139.986751 133.07137,139.680396 90.3603029,180.097449 C56.6429567,225.193716 50.5005061,307.220868 50.4073076,367 C50.5736085,366.57158 317.771291,365.86955 318.065511,367 Z M183.986649,175.877768 C145.522687,175.877771 107.107737,183.868534 95.2692807,202.999995 C76.740156,232.943868 80.7032002,321.209552 136.499646,336.900442 C160.362548,343.611088 200.837955,354.366358 238.70934,336.900442 C276.580724,319.434527 287.044226,225.325016 264.618269,202.999989 C246.61623,183.343357 222.450611,175.877766 183.986649,175.877768 Z"></path>
		</symbol>
		<symbol viewBox="0 0 320 320" id="eye_l">
		    <title>eye</title>
	   		<g stroke="none" stroke-width="1" fill-rule="evenodd" transform="translate(-26, -47)" fill="#ffffff">
	            <ellipse cx="141.439739" cy="241.078054" rx="9.26751191" ry="17.3262179"></ellipse>
	    	</g>
		</symbol>
		<symbol viewBox="0 0 320 320" id="eye_r">
		    <title>eye</title>
	   		<g stroke="none" stroke-width="1" fill-rule="evenodd" transform="translate(58, -47)" fill="#ffffff">
	            <ellipse cx="141.439739" cy="241.078054" rx="9.26751191" ry="17.3262179"></ellipse>
	    	</g>
		</symbol>
		<symbol viewBox="0 0 320 320" id="line_b">
		    <title>line_b</title>
	    	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g stroke="#ffffff" stroke-width="12" stroke-linecap="round" stroke-dasharray="187,439">
	            	<ellipse transform="translate(161.236409, 138.102574) rotate(-147) translate(-184.236409, -184.102574) " cx="184.236409" cy="184.102574" rx="89.0276963" ry="91.2822368"></ellipse>
		        </g>
		    </g>
		</symbol>
		<symbol viewBox="0 0 320 320" id="line_t">
		    <title>line_t</title>
		    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g stroke="#ffffff" stroke-width="12" stroke-linecap="round" stroke-dasharray="327,431">
		            <ellipse transform="translate(161.236409, 138.102574) rotate(-147) translate(-184.236409, -184.102574) " cx="184.236409" cy="184.102574" rx="128.718267" ry="131.977933"></ellipse>
		        </g>
		    </g>
	    </symbol>
	</svg>
	<!-- ：load动画svg -->
	<div class="detail" data-id="{{detailId}}">
		<div class="detail_main">
			<a href="{{detailObj.url}}">
				<div class="detail_info">
					<img class="detail_img" v-bind:src="detailObj.image" alt="" />
					<div class="detail_star">
						<span>创意指数：{{detailObj.magaStar[0]}}</span>
						<span>实现难度：{{detailObj.magaStar[1]}}</span>
					</div>
				</div>
			</a>
			<!-- <a href="javascript:;" class="detail_love loved"></a> -->
			<div class="detail_cnt">
				<div class="detail_tag">
					<a href="maga_list.html?key={{detailObj.type[0]}}&cat=classify" v-if="detailObj.type[0]"><span class="detail_tag_txt type" data-category="classify">{{detailObj.type[0]}}</span></a>
					<a href="maga_list.html?key={{detailObj.type[1]}}&cat=classify" v-if="detailObj.type[1]"><span class="detail_tag_txt team" data-category="classify">{{detailObj.type[1]}}</span></a>
					<a href="maga_list.html?key={{detailObj.vd[0]}}&cat=keywords" v-if="detailObj.type[0]"><span class="detail_tag_txt technology" data-category="keywords">{{detailObj.vd[0]}}</span></a>
				</div>
				<h2 class="detail_tit">{{detailObj.title}}</h2>
				<div class="detail_analysis">
					<p v-for="para in detailObj.links" v-html="para.url"></p>
				</div>
			</div>
		</div>
		<div class="detail_bottom hide">
			<!-- <a href="javascript:;" class="detail_bottom_btn"></a> -->
			<div class="detail_bottom_right">
				<!-- <a href="javascript:;" class="detail_bottom_love"></a> -->
				<a href="maga.html?vol={{curVol}}" class="detail_bottom_curvol">vol.{{curVol}}</a>
			</div>
		</div>
	</div>
	<!-- S：闪屏页 -->
	<div class="load loading" v-show="!detailObj">
		<svg width="80px" height="80px" viewBox="0 0 80 80" class="load_main">
			<use xlink:href="#main" class="main"/>
			<use xlink:href="#eye_l" class="eye_l"/>
			<use xlink:href="#eye_r" class="eye_r"/>
			<use xlink:href="#line_t" class="line_t"/>
			<use xlink:href="#line_b" class="line_b"/>
		</svg>
	</div>
	<!-- E：闪屏页 -->
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript">
	var detail = {
		startY: 0,
		endY: 0,
		detail: document.querySelector(".detail"),
		menu : document.querySelector(".detail_bottom"),
		startTouchScroll: function(event){
        	var touch = event.touches[0];
        	this.startY = touch.pageY;
		},
		moveTouchScroll: function(event){
			var touch = event.touches[0];
			this.endY = touch.pageY;
		},
		endTouchScroll:	function(event){
			var self = this; 
			//判断移动的点,1为手指向下滑动,-1为手指向上滑动
		    var scrollDirection = (self.endY - self.startY) > 0 ? 1 : -1 ;
		    // scrollDirection = 1 ? menu.classList.add("hide") : menu.classList.remove("hide"); 
		    detail.menu.classList.remove("hide");
		},
		init: function(){
			var self = this;
			self.detail.addEventListener("touchstart", self.startTouchScroll, false);
			self.detail.addEventListener("touchmove", self.moveTouchScroll, false);
			self.detail.addEventListener("touchend", self.endTouchScroll, false);
		}
	}
	detail.init();
	</script>

	<script src="js/vue.js"></script> 
	<script src="js/volMaga.js"></script> 
	<script src="js/build/list.js"></script>
	<script src="https://jdc.jd.com/jdccase/jsonp/project?category=app&callback=json2"></script>
	<script>
		/*统计*/
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?d5b80c453a4ec5015928c81ab29e8a02";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</body>
</html>