.posts
  // margin-right: -30px
  text-align: center
  &:after
    content: ' '
    clear: both
    display: table
  // +mobile() {
  //   margin-right: 0      
  // }
  // +desktop() {
  //   margin-right: -60px
  // }
    
 .mod-post
    overflow: hidden
    background: #fff
    margin: 10px
    padding: 10px
    box-sizing: content-box
    // float: left
    display: inline-block;
    vertical-align: top
    text-align: left
    // width: 280px
    // height: 204px
    min-width: 280px
    max-width: 320px
    transition: box-shadow 200ms
    &:hover
      box-shadow: 0 0 2px rgba(0,0,0,.2)
      & .mod-post-desc
        color: #646464
    & > a
      display: block
      
    &-cover
      position:relative
      display: block
      width: 100%
      height: 0
      padding-top: (667/375*100%)
      overflow: hidden
      & img
        display: block
        width: 100%
        position: absolute
        top: 0;
        left: 0;
      & .mod-post-qrcode
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background: rgba(0,0,0, .5)
        transition: all .3s
        visibility: hidden
        opacity: 0
        .mod-post:hover & {
          visibility: visible
          opacity: 1
        }
        img {
          max-width: 80%
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          margin: auto
        }
    &-info
      padding: 10px
      
    &-tit
      height: 24px
      margin-bottom: 5px
      overflow: hidden
      line-height: 24px
      font-weight: 400
      white-space: nowrap
      text-overflow: ellipsis
      transition: color 200ms
      +mobile() {
         // font-size: 16px
      }
      
    &-desc
      height: 40px
      line-height: 20px
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      word-wrap: break-word
      transition: color 200ms
      
    +mobile() {
        float: none
        width: auto
        height: auto
        margin: 0 15px 20px
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        &-cover {
          height: auto
        }
        
    }
    
    +desktop() {
        // width: 320px
        // height: 220px
        // margin-right: 60px
        &-cover {
          height: 130px
        }
    }